node_modules/
.expo/
dist/
web-build/

# Ignore local Gradle build cache & intermediate build outputs
.gradle/
*.lock
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/.idea/
*.log
